@using Microsoft.AspNetCore.Identity
@using PurrfectPics.Data.Models.Identity
@{
    ViewData["Title"] = "Dashboard";
}

@inject UserManager<ApplicationUser> UserManager

<div class="container mt-4">
    @{
        var user = await UserManager.GetUserAsync(User);
        var displayName = user?.DisplayName ?? User.Identity?.Name;
    }

    <h1>Welcome back, @displayName!</h1>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Stats</h5>
                    <p class="card-text">
                        Uploads: @ViewBag.UploadCount<br>
                        Favorites: @ViewBag.FavoriteCount<br>
                        Comments: @ViewBag.CommentCount
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h3>Recent Activity</h3>
            <!-- Add recent activity feed here -->
        </div>
    </div>
</div>