@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="display-4">@ViewData["Title"]</h1>

            <div class="card shadow mt-4">
                <div class="card-body">
                    <h3>Information Collection</h3>
                    <p>We collect the following information when you use PurrfectPics:</p>
                    <ul>
                        <li>Account information (username, email)</li>
                        <li>Photos you upload</li>
                        <li>Comments and interactions</li>
                    </ul>

                    <h3 class="mt-4">How We Use Your Information</h3>
                    <p>Your information is used to:</p>
                    <ul>
                        <li>Provide and improve our services</li>
                        <li>Display your content</li>
                        <li>Communicate with you</li>
                    </ul>

                    <h3 class="mt-4">Data Security</h3>
                    <p>We implement security measures to protect your information:</p>
                    <ul>
                        <li>Encrypted data transmission</li>
                        <li>Secure server storage</li>
                        <li>Limited access to personal data</li>
                    </ul>

                    <div class="alert alert-info mt-4">
                        <h4>Contact Us</h4>
                        <p>For any privacy-related questions, contact us at:</p>
                        <address>
                            <strong>Privacy Officer</strong><br>
                            privacy@purrfectpics.example.com
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>